@mixin fontFamilyIntro {
    font-family: 'Intro', sans-serif;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Minion Pro', serif;
    font-size: 14px;
}

header {
    background: url(../images/painted-detail.png) no-repeat bottom,
                url(../images/hero.jpg) no-repeat center;
    background-size: contain, cover;

    menu {
        span {
            aspect-ratio: 1;
            width: 4px;
            align-self: flex-start;
        }

        a {
            @include fontFamilyIntro;
            font-size: .75rem;
        }
    }

    address {
        @include fontFamilyIntro;
    }

    button {
        aspect-ratio: 1;
    }
}

main {
    background-image: url(../images/texture.png);
    background-size: 10vw;

    .pointy-arrow-left {
        clip-path: polygon(100% 0, 0 50%, 100% 100%);
    }
    
    .pointy-arrow-right {
        clip-path: polygon(0 0, 100% 50%, 0 100%);
    }
}


#programs {
    .tabs {

        .tab-buttons {
            border-bottom: 1px solid #c8c8c8;
    
            span {
                @include fontFamilyIntro;
            }
        }
    
    }
    
    #programs-details {
        h6 {
            @include fontFamilyIntro;
        }
    }
}

#gallery {
    background: url(../images/gallery.jpg) no-repeat center;
    background-size: cover;
}

#testimonials {
    #testimonials-carrousel {
        h6 {
            @include fontFamilyIntro;
        }
    }
}

#our-partners {
    backdrop-filter: brightness(0.95);
}

footer {
    background: url(../images/footer.jpg) no-repeat center;
    background-size: cover;
    
    #footer-info {
        backdrop-filter: brightness(0.5);
    }
}

