@mixin fontFamilyIntro {
    font-family: 'Intro', sans-serif;
}

$maxWidth: 1200px;
$logoWidth: 12.5rem;
$logoOffset: 1rem;

html, body {
    height: 100%;
}

body {
    font-family: 'Minion Pro', serif;
    font-size: 14px;
    letter-spacing: 0.025rem;

    &> * {
        min-width: 315px;
    }
}

header, section, footer {
    &> .row,
    &> nav .row,
    #hero-info {
        width: 100%;
        max-width: $maxWidth;
    }
}

// HERO
header {
    min-height: 580px;
    background: url(../images/painted-detail.png) no-repeat bottom,
                url(../images/hero.jpg) no-repeat center;
    background-size: contain, cover;

    $navAnimationTime: .3s;
    @mixin navBackground {
        background-color: #000000cc;
        backdrop-filter: blur(6px);
    }

    nav {
        width: 100%;
        height: 72px;
        transition: background-color $navAnimationTime, height $navAnimationTime;

        &.nav-scrolled {
            height: 108px;
            @include navBackground;
        
            #logo {
                width: 8.5rem;
            }
        
            + #menu-line {
                display: none;
            }
        }

        &.nav-opened {
            @include navBackground;

            menu {
                position: absolute;
                left: calc(var(--bs-gutter-x)* .5 * -1);
                top: 100%;
                width: calc(100% + var(--bs-gutter-x));
                @include navBackground;
                opacity: 1;
            }
        }

        #mobile-menu {
            span {
                cursor: pointer;
            }
        }

        .menu {
            opacity: 0;
            transition: opacity $navAnimationTime;
        }
    }

    #logo {
        width: $logoWidth;
        transition: width $navAnimationTime;
    }

    address {
        @include fontFamilyIntro;
    }

    $navOffsetTop: 72px;

    #menu-line {
        display: flex;
        top: $navOffsetTop;
        
        .menu-line-side {
            flex-grow: 1;
        }
        
        #menu-line-center {
            width: 100%;
            max-width: $maxWidth;
            padding-left: $logoWidth + ($logoOffset * 2);
        }
    }

    #hero-info {
        padding-top: $navOffsetTop;
    }
    
    #hero-stars {
        font-size: .625rem;
    }
    
    .pointy-arrow-left,
    .pointy-arrow-right {
        width: 102px;
        height: 5px;
        background-color: #cdb47b;
    }

    .pointy-arrow-left {
        clip-path: polygon(100% 0, 0 50%, 100% 100%);
    }
    
    .pointy-arrow-right {
        clip-path: polygon(0 0, 100% 50%, 0 100%);
    }

    h1 {
        font-size: calc(2.25rem + 1.5vw);
    }

    #hero-bottom-detail .pointy-arrow-left,
    #hero-bottom-detail .pointy-arrow-right {
        width: 64px;
        height: 4px;
    }

    #hero-bottom-detail i {
        color: #cdb47b;
        font-size: 0.4rem;
    }

    button {
        aspect-ratio: 1; 
        
        i {
            top: -1px;
            font-size: 1rem;
        }
    }
    
}

// MENU
menu {

    span {
        aspect-ratio: 1;
        width: 4px;
        align-self: flex-start;
    }

    a {
        @include fontFamilyIntro;
        font-size: .625rem;
        letter-spacing: .025rem;
        color: rgba(var(--bs-light-rgb));
        transition: color .5s, box-shadow .5s;

        &:hover {
            color: rgb(var(--bs-warning-rgb));
            box-shadow: inset 0px -2px 0px 0px rgb(var(--bs-warning-rgb));
        }
    }

    i {
        font-size: .25rem;
    }

}

// MAIN
main {
    background-image: url(../images/texture.png);
    background-size: 10vw;

}

// PROGRAMS
#programs {
    background: url(/images/program-bg-coffee-beans.png) no-repeat bottom right;
    background-size: 630px;

    .tabs {

        .tab-buttons {
            border-bottom: 1px solid #c8c8c8;
    
            span {
                // padding-inline: 6rem;
                color: #adadad;
                user-select: none;
                cursor: pointer;
                @include fontFamilyIntro;
                
                &.active-tab {
                    color: rgba(var(--bs-dark-rgb));
                    box-shadow: inset 0px -2px 0px 0px rgb(var(--bs-dark-rgb));
                }
            }
        }

        .tab-background-title {
            top: -32px;
            
            h6 {
                font-size: 14vw;
                @include fontFamilyIntro;
                right: -100%;
                transition: right 1s;

                &.tab-background-title-active {
                    right: 0;
                }
            }

        }

        .tab-content {
            margin-top: 80px;
            transition: left, .5s;

            .tab-content-item {
                width: 100%;
                flex-grow: 0;
                flex-shrink: 0;
            }

            .program-info {
                
                h4, h3 {
                    font-weight: 900;
                }

                h3 {
                    font-size: 3rem;
                }

                ul li i {
                    font-size: 1.25rem;
                    width: 20px;
                }
            }

        }
    
    }
    
    #programs-details {
        h6 {
            @include fontFamilyIntro;
        }
    }
}

// GALLERY
@mixin paintedDetail ($rotation) {

    $position: "::after";
    $marginTop: 0;

    @if ($rotation == 180deg) {
        $position: "::before";
        $marginTop: -1px;
    }
    
    &#{$position} {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        margin-top: $marginTop;
        background: url(../images/painted-detail.png) no-repeat bottom;
        background-size: contain;
        rotate: $rotation;
        pointer-events: none;
    }
}

#gallery {
    background: url(../images/gallery.jpg) no-repeat center;
    background-size: cover;

    @include paintedDetail (180deg);
    @include paintedDetail (0deg);

    #gallery-title {

        .gallerty-title-details {
            transform: scale(1.25, 0.75);
        }

        $galleryStaggeredOffset: 4px;

        .fa-bars-staggered:first-child {
            transform: scale(-1, 1);
            left: $galleryStaggeredOffset;
        }

        .fa-bars-staggered:last-child {
            left: -1 * $galleryStaggeredOffset;
        }

    }

    #gallery-images {
        $imageGap: 1.5rem;
        gap: $imageGap;
        transition: left .5s;

        img {
            width: calc(50% - ($imageGap / 2));
            flex-grow: 0;
            flex-shrink: 0;
        }
    }

    #gallery-pagination {
        
        button {
            width: 60px;
            aspect-ratio: 1;
        }

    }
}

// REVIEWS
#reviews {

    .reviews-photo {
        width: 180px;
        aspect-ratio: 1;
        object-fit: cover;
    }

    h6 {
        @include fontFamilyIntro;
        letter-spacing: -0.0825rem
    }
}

// OUR PARTNERS
#our-partners {
    backdrop-filter: brightness(0.95);

    img {
        width: 60%;
        aspect-ratio: 1/.6;
        object-fit: contain;
    }
}

// CONTACT
#contact {
    min-height: 560px;
    background: url(/images/contact-bg-bean.png) no-repeat bottom right -120px;
    background-size: 250px;

    .thin-arrow {
        rotate: 180deg;
    }

}

// FOOTER
footer {
    background: url(../images/footer.jpg) no-repeat center;
    background-size: cover;

    @include paintedDetail (180deg);

    p {
        text-align: justify;
    }
    
    #footer-info {
        font-size: .75rem;
        backdrop-filter: brightness(0.5);
        border: 1px solid #ffffff50;

        :not(i) {
            @include fontFamilyIntro;
        }

        #footer-links {
            border-bottom: 1px solid #ffffff50;
        }

        @mixin footerInfoSideBorders {
            border-left: 1px solid #ffffff25;
            border-right: 1px solid #ffffff25;
        }

        .footer-icons {

            &:nth-of-type(3) {
                @include footerInfoSideBorders;
            }
        }

        .footer-contact-info {
            border-bottom: 1px solid #ffffff25;

            &:nth-of-type(6) {
                @include footerInfoSideBorders;
            }
        }

    }

    #footer-template-author {
        @include fontFamilyIntro;
        font-size: 0.75rem;
    }
}

// CARROUSEL {
.carrousel {

    .carrousel-item-wrapper {
        transition: left .5s;
        
        .carrousel-item {
            width: 100%;
            flex-grow: 0;
            flex-shrink: 0;
        }

    }

    .carrousel-pagination {

        .carrousel-page-active {

            i {
                color: rgb(var(--bs-warning-rgb));
            }

        }
        
        i {
            font-size: .625rem;
        }

    }
}

// THIN ARROW
.thin-arrow {
            
    width: 80px;
    pointer-events: none;

    span:first-child,
    span:last-child {
        width: 15px;
    }

    span:first-child {
        top: 1px;
        transform: rotate(-45deg);
        transform-origin: 0 100%;
    }

    span:last-child {
        top: -1px;
        transform: rotate(45deg);
        transform-origin: 0;
    }

    &:first-child {
        rotate: 180deg;
    }

}

button + .thin-arrow {
    margin-left: -35px;
}

.thin-arrow + button {
    margin-left: -35px;
}

// BEAN DETAILS
.bean-details {
    pointer-events: none;

    &> div {
        scale: .5
    }

    img {
        width: 100%;
    }
}

header .bean-details div {
    width: 240px;
}

#programs .bean-details {
    
    div:nth-child(1) {
        width: 110px;
    }

    div:nth-child(2) {
        width: 160px;
    }

    div:nth-child(3) {
        width: 135px;
    }
}

#reviews .bean-details > div {
    width: 155px;
}

// BUTTONS
.btn {
    @include fontFamilyIntro;
}
